body {
    font-size: 2em;
    background-color: black;
    color: blanchedalmond;
}

#header {
    font-size: 5em;
}

h1 {
    font-size: 5em;
}

div {
    background-color: black;
}

#icon {
    width: 400px;
    height: auto;
    background-color: black;
}

div.card-body {
    border: blanchedalmond solid 2px;
}